<section id="coffeeMenu">
  {{#each item}}
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="upper">
          <img src = {{picURL}}>
        </div>
      </div>
      <div class="col-md-4">
        <div class="coffeeInfo">
          <h3> {{name}} </h3>
          <h3> Calorie: {{calorie}} </h3>
          <h5> {{description}} </h5>
        </div>
      </div>
      <div class="col-md-4">
        <div class="lower">
          <h4> Price: ${{unitPrice}} </h4>
          <center><a class='btn' href="/order/Order">Order</a></center>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</section>
