{{!-- <-- <section id = "coffeeMenu">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3> Most popular coffee </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="outer">
          <div class="upper">
            <img src="{{photo}}">
          </div>
          <div class="lower">
            <h3> {{name}} </h3>
            <h4> {{price}} </h4>
            <h4> {{calorie}} </h4>
            <center><a class='btn' href='#'>Order</a></center>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="outer">
          <div class="upper">
            <img src="{{photo}}">
          </div>
          <div class="lower">
            <h3> {{name}} </h3>
            <h4> {{price}} </h4>
            <h4> {{calorie}} </h4>
            <center><a class='btn' href='#'>Order</a></center>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="outer">
          <div class="upper">
            <img src="{{photo}}">
          </div>
          <div class="lower">
            <h3> {{name}} </h3>
            <h4> {{price}} </h4>
            <h4> {{calorie}} </h4>
            <center><a class='btn' href='#'>Order</a></center>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="outer">
          <div class="upper">
            <img src="{{photo}}">
          </div>
          <div class="lower">
            <h3> {{name}} </h3>
            <h4> {{price}} </h4>
            <h4> {{calorie}} </h4>
            <center><a class='btn' href='#'>Order</a></center>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="outer">
          <div class="upper">
            <img src="{{photo}}">
          </div>
          <div class="lower">
            <h3> {{name}} </h3>
            <h4> {{price}} </h4>
            <h4> {{calorie}} </h4>
            <center><a class='btn' href='#'>Order</a></center>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="outer">
          <div class="upper">
            <img src="{{photo}}">
          </div>
          <div class="lower">
            <h3> {{name}} </h3>
            <h4> {{price}} </h4>
            <h4> {{calorie}} </h4>
            <center><a class='btn' href='#'>Order</a></center>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>



<section id = "coffeeMenu">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3> Food </h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="outer">
          <div class="upper">
            <img src="https://globalassets.starbucks.com/assets/f7febd6b86084135b98a13fa95c72f51.jpg?impolicy=1by1_wide_1242">
          </div>
          <div class="lower">
            <h3> Tomato & Mozzarella </h3>
            <h4> $6.99 </h4>
            <h4> 370 per serving </h4>
            <center><a class='btn' href='#'>Order</a></center>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="outer">
          <div class="upper">
            <img src="https://globalassets.starbucks.com/assets/f7febd6b86084135b98a13fa95c72f51.jpg?impolicy=1by1_wide_1242">
          </div>
          <div class="lower">
            <h3> Tomato & Mozzarella </h3>
            <h4> $6.99 </h4>
            <h4> 370 per serving </h4>
            <center><a class='btn' href='#'>Order</a></center>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="outer">
          <div class="upper">
            <img src="https://globalassets.starbucks.com/assets/f7febd6b86084135b98a13fa95c72f51.jpg?impolicy=1by1_wide_1242">
          </div>
          <div class="lower">
            <h3> Tomato & Mozzarella </h3>
            <h4> $6.99 </h4>
            <h4> 370 per serving </h4>
            <center><a class='btn' href='#'>Order</a></center>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> --}}




<section id="coffeeMenu">
  {{#each item}}
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="upper">
          <img src = {{picURL}}>
        </div>
      </div>
      <div class="col-md-4">
        <div class="coffeeInfo">
          <h3> {{name}} </h3>
          <h3> Calorie: {{calorie}} </h3>
          <h5> {{description}} </h5>
        </div>
      </div>
      <div class="col-md-4">
        <div class="lower">
          <h4> Price: ${{unitPrice}} </h4>
          <h4> Order number: 0 </h4>
          <center><a class='btn' href='#'>Order</a></center>
        </div>
      </div>
    </div>
  </div>
  {{/each}}
</section>
