<h1>Hi {{name}}, Here's the menu! </h1>
<br>
<br>

<h3>Add new Item:</h3>
<form id="additem" action="/items" method="post">
    Item name: <input type="text" name="name"><br>
    Calories: <input type="text" name="calorie"><br>
    Item Description: <input type="text" name="description"><br>
    Picture URL: <input type="text" name="picURL"><br>
    Item Unit Price: <input type="text" placeholder="must enter a number" name="unitPrice"><br>
    <input type="submit" value="Submit">
</form>
<br/>


<h3>Current items:</h3>
<table>
    <thead>
    <th>Item ID</th>
    <th>Name</th>
    <th>Calories</th>
    <th>Description</th>
    <th>Picture URL</th>
    <th>Unit Price</th>
    </thead>
    <tbody>
    {{#each item}}
        <tr>
            <td>{{itemID}}</td>
            <td>{{itemName}}</td>
            <td>{{calorie}}</td>
            <td>{{description}}</td>
            <td>{{picURL}}</td>
            <td>{{unitPrice}}</td>
            <td><button onclick="deleteItem({{itemID}})">Delete</button></td>
            <td><a href="/items/{{itemID}}">Update</a></td>
        </tr>
    {{/each}}
    </tbody>
</table>


