<h1>Hi {{name}}, Here's all the orders! </h1>
<br>
<br>


<table>
    <thead>
    <th>Order ID</th>
    <th>Order Time</th>
    <th>Customer Name</th>
    <th>Total Price</th>
    <th>Order Status</th>
    </thead>
    <tbody>
    {{#each order}}
        <tr>
            <td>{{orderID}}</td>
            <td>{{orderTime}}</td>
            <td>{{orderName}}</td>
            <td>{{totalPrice}}</td>
            <td>
                <select name="order_status" id="order_status">
                    {{#select orderStatus}}
                    <option value="placed">placed</option>
                    <option value="processing">processing</option>
                    <option value="ready for pick up">ready for pick up</option>
                    <option value="completed">completed</option>
                    {{/select}}
                </select>

            </td>
            <td><a href="/orders/{{orderID}}">Update Order Status</a></td>
        </tr>
    {{/each}}
    </tbody>
</table>

