<h1>Hi {{name}}, Update the selected item from the Menu here! </h1>
<br>
<br>

<form id="update-item" action="/items" method="post">
    Item name: <input type="text" name="itemName" value="{{item.itemName}}"><br>
    Calorie: <input type="text" name="calorie" value="{{item.calorie}}"><br>
    Item description: <input type="text" name="description" value="{{item.description}}"><br>
    Picture URL: <input type="text" name="picURL" value="{{item.picURL}}"><br>
    Unit Price: <input type="text" name="unitPrice" value="{{item.unitPrice}}"><br>
</form>
<button onclick="updateItem({{item.id}})">Update</button>


