<h1>Hi {{name}}, Update the selected order here! </h1>
<br>
<br>

<form id="update-order" action="/orders" method="post">
    Order ID: {{order.orderID}}<br>
    Order Time: {{order.orderTime}}<br>
    Order Time: {{order.customerName}}<br>
    Total Price: <input type="text" name="totalPrice" value="{{order.totalPrice}}"><br>
    Order Status: <input type="text" name="orderStatus" value="{{order.orderStatus}}"><br>
</form>
<button onclick="updateOrder({{order.orderID}})">Update</button>

