<h1>Hi {{name}}, Update the selected item from the Menu here! </h1>
<br>
<br>

<form id="update-item" action="/items/{{item.id}}" method="POST">
    <input type="hidden" id="item_id" name="item_id" value="{{item.id}}">
    <div class="form-row">
        <div class="form-group col-md-5">
            Item name: <input class="form-control" type="text" name="itemName" value="{{item.itemName}}" required>
        </div>
        <div class="form-group col-md-5">
            Calories: <input class="form-control" type="number" min="0" step="1" name="calorie" value="{{item.calorie}}"
                             required>
        </div>
        <div class="form-group col-md-5">
            Item Unit Price: <input class="form-control" type="number" name="unitPrice" min="0"
                                    value="{{item.unitPrice}}" step=".01" required>
        </div>
        <div class="form-group col-md-5">
            Stock Status:
            <select class="form-control" name="stock" id="stock-{{item.itemID}}">
                {{#select item.inStock}}
                    <option value="in Stock">in Stock</option>
                    <option value="out of Stock">out of Stock</option>
                {{/select}}
            </select>
        </div>
    </div>
    Item Description: <input class="form-control" type="text" name="description" value="{{item.description}}" required>
    Picture URL (begin with http://): <input class="form-control" type="url" name="picURL" value="{{item.picURL}}"
                                             required>
    <input class="btn btn-primary" type="submit" value="Submit">
</form>


